@CHARSET "UTF-8";

/* layout changes */
#panel {
	display: none;
}

#page-content {
	width: auto;
}

/* wizard design */
#selector-city {
	padding-bottom: 30px;
}

#selected-city, .selector-header {
	font-size: 1.4em;
}

#city-selected {
	/*padding-top: 30px;*/
}

#selected-city {
	font-size: 2.2em;
}

#city-selected label {
	cursor: pointer;
	font-size: 1.4em;
	padding-right: 10px;
	padding: 5px;
}

#selector-service label {
	cursor: pointer;
	
	padding-right: 10px;
	padding: 5px;
}

#city-selected label:hover, #selector-service label:hover {
	background-color: yellow;
}

#city-selected input {
	
}

.select-city-item {
	float:left;
	width: 270px;
	padding: 3px;
}

.select-city-control {
	clear: both;
	float: left;
	width: 100%;
}

.text-tips {
	float: left;
	width: 99%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.step-services, .step-city, .step-description, .step-submit, .text-tips span {
	font-size: 1.4em;
}

.services-list-items {
	float: left;
	width: 300px;
}

#selector-city a, #city-selected a, #selector-service a, #selector-description a {
	color: #7498B2;
}

#name, #phone, #description {
	font-size:1.4em;
	border: 1px solid silver;
	padding: 5px;
}

#name {
	
}

#phone {
	
}

#description {
	
}