body {
    padding: 0;
    margin: 0;
    color:#333333;
	font:0.8em Verdana,sans-serif;
	
	min-width: 400px;
}

caption, th, td, input, textarea, select, option, legend, fieldset {
    font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

label {
	cursor: pointer;
	padding: 5px;
}

label:hover {
	background-color: #ffff99;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
	font-size:2.167em;
	font-weight: normal;
	line-height:1.3em;
	margin-bottom:0.5em;
	margin-top:0;
	
	clear:both;
}

/* HEADER */
#header, #main, #footer {

}

#header {
    padding-top:10px;
	padding-left: 10px;
	padding-right: 10px;
}

#logo img {
	border:0;
	float: left;
}

/*
 * Header search form 
 */
#header-search-form-block {
	padding-left: 20px;
}

#header-search-form {
	
}

.header-search-form-wide {
	margin-left: 320px;
	width: auto;
}

.header-search-form-narrow {
	margin-left: none;
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	width: 99%;
}

#header-search-form-block span {
	font-size: 0.8em;
	color: gray;
}

#header-search-form-element {
	border: 1px solid silver;
	width: 90%;
	
	padding: 5px;
	padding-bottom: 7px;
	font-size: 1.4em;
	color: black;
}

#header-selector {
	width: 90%;
}

#header-selector-regions, #header-selector-services {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;

	color: gray;
	text-decoration: none;
}

#header-selector-services {
	background-color: #fff9f2;
	/*
	position: relative;
	top: 5px;
	*/
	display: block;
	width: auto;
}

#header-selector-services:hover, #header-selector-services:focus {
	background-color: #ffecd9;
}

#header-selector-regions {
	float: right;
	background-color: #f2f9ff;

	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;

	color: gray;
	text-decoration: none;
}

#header-selector-regions:hover, #header-selector-regions:focus {
	background-color: #d9ecff;
}

/**
 * Page content
 */

#main {
	padding-left: 10px;
	padding-right: 10px;
}

#page-content {
	padding-top: 20px;
}

#footer {
	text-align: center;
}

#footer-language-selector, #copyright {
	padding:5px;
}

#footer-feedback {
	margin-top: 30px;
	margin-bottom: 20px;
}

#footer-feedback a {
	background-color: #f2fff2;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}

#footer-feedback a {
	color: gray;
	text-decoration: none;
}

#footer-feedback a:hover, #footer-feedback a:focus {
	background-color: #d9ffd9;
}




#copyright {
	font-size: 0.8em;
	/*color: silver;*/
}

.errors {
	color: red;
}

.hint {
	padding: 10px;
	background: yellow;
}

.paginationControl {
	width: 90%;
	text-align: center;
	padding: 15px;
}

.current-page {
	font-size: 1.7em;
	font-weight: bold;
}

.pager-navigation {
	 padding: 30px;
}

.data-grid {
	border-top: 1px solid silver;
	border-left: 1px solid silver;	
}

.data-grid tr.table-header td {
	background-color: #ccffe5;
}

.data-grid tr:hover td {
	background-color: #cce5ff;
}

.data-grid td {
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
}

.data-grid tr.last_accessed td.actions {
	background-color: #ffffcc;
}