body {
    padding: 0;
    margin: 0;
}

body {
	color:#333333;
	font-family:Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
	font-size:75%;
	line-height:1.5;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
    font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}


/* HEADER */

#header {
    text-align:center;
    padding-bottom:20px;
    padding-top:10px;
}

#logo {
    display: none;
}

#logo img {
	border:0;
	float: left;
}

#site-name a {
	font-size: 2em;
	color: black;
	text-decoration:none;
}

#site-slogan {
	color: gray;
	font-size: 0.8em;
}